<configuration debug="true" scan="true" scanPeriod="30 seconds">

	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

	<appender name="DB" class="ch.qos.logback.classic.db.FlexbuhDBAppender">
		<!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
			<param name="jndiLocation" value="jdbc/flexbuhResource"/>
		</connectionSource>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/flexbuh/log.txt</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			<!-- or whenever the file size reaches 100MB -->
			<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.complitex.flexbuh">
    	<appender-ref ref="DB" />
  	</logger>

	<root level="INFO">
		<appender-ref ref="ROLLING"/>
	</root>
</configuration>