<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeHandlers>
        <typeHandler javaType="org.complitex.flexbuh.common.entity.PersonType"
                     handler="org.complitex.flexbuh.common.entity.PersonTypeHandler"/>
    </typeHandlers>

    <objectFactory type="org.complitex.flexbuh.common.service.TemporalEntityObjectFactory"/>

    <environments default="local">
        <environment id="local">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/flexbuhResource"/>
            </dataSource>            
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/complitex/flexbuh/common/service/ConfigBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/TemplateBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/FeedbackBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/TemporalEntityBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/PersonProfileBean.xml"/>

        <mapper resource="org/complitex/flexbuh/common/entity/LocalizedDomainObject.xml"/>
        <mapper resource="org/complitex/flexbuh/common/entity/dictionary/AbstractDictionary.xml"/>
        <mapper resource="org/complitex/flexbuh/common/entity/dictionary/AbstractPeriodDictionary.xml"/>

        <mapper resource="org/complitex/flexbuh/common/service/dictionary/CurrencyBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/dictionary/DictionaryTypeBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/dictionary/DocumentBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/dictionary/DocumentTermBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/dictionary/DocumentVersionBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/dictionary/RegionBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/dictionary/TaxInspectionBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/dictionary/FieldCodeBean.xml"/>

        <mapper resource="org/complitex/flexbuh/common/service/user/SessionBean.xml"/>
        <mapper resource="org/complitex/flexbuh/common/service/user/UserBean.xml"/>

        <mapper resource="org/complitex/flexbuh/document/service/DeclarationBean.xml"/>
        <mapper resource="org/complitex/flexbuh/document/service/CounterpartBean.xml"/>
        <mapper resource="org/complitex/flexbuh/document/service/EmployeeBean.xml"/>

		<mapper resource="org/complitex/flexbuh/logging/service/LogListBean.xml"/>

		<mapper resource="org/complitex/flexbuh/common/service/CityTypeBean.xml"/>
		<mapper resource="org/complitex/flexbuh/common/service/StreetTypeBean.xml"/>

        <mapper resource="org/complitex/flexbuh/common/service/FIOBean.xml"/>
    </mappers>
</configuration>
