<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="local">
        <environment id="local">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/flexbuhResource"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/complitex/flexbuh/service/ConfigBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/TemplateBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/LanguageBean.xml"/>

        <mapper resource="org/complitex/flexbuh/entity/dictionary/AreaName.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/CurrencyName.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/Dictionary.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/DictionaryOfLimitedTime.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/DictionaryTypeName.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/DocumentName.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/NormativeDocumentName.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/RegionName.xml"/>
        <mapper resource="org/complitex/flexbuh/entity/dictionary/TaxInspectionName.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/CurrencyBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/DictionaryBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/DictionaryTypeBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/DocumentBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/DocumentTermBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/DocumentVersionBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/RegionBean.xml"/>
        <mapper resource="org/complitex/flexbuh/service/dictionary/TaxInspectionBean.xml"/>

		<mapper resource="org/complitex/flexbuh/entity/user/PersonTypeName.xml"/>
		<mapper resource="org/complitex/flexbuh/service/user/PersonProfileBean.xml"/>
		<mapper resource="org/complitex/flexbuh/service/user/PersonTypeBean.xml"/>
		<mapper resource="org/complitex/flexbuh/service/user/SessionBean.xml"/>
		<mapper resource="org/complitex/flexbuh/service/user/UserBean.xml"/>

        <mapper resource="org/complitex/flexbuh/document/service/DeclarationBean.xml"/>
    </mappers>
</configuration>
