?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
</head>

<body>
<wicket:panel>
    <tr>
        <th><wicket:message key="salary"/></th>
        <td>
            <div wicket:id="payment_salary_container">
                <div style="float: left;">
                    <input type="number" maxlength="45" wicket:id="payment.salary" style="width: 277px"/>
                </div>
                <div class="history_buttons_field_center" wicket:id="payment_salary_history"></div>
            </div>
        </td>
    </tr>
    <tr>
        <th><wicket:message key="salaryNumber"/></th>
        <td>
            <div wicket:id="payment_number_container">
                <div style="float: left;">
                    <input type="number" maxlength="45" wicket:id="payment.number" style="width: 277px"/>
                </div>
                <div class="history_buttons_field_center" wicket:id="payment_number_history"></div>
            </div>
        </td>
    </tr>
    <tr>
        <th><wicket:message key="currencyUnit"/></th>
        <td>
            <div wicket:id="payment_currency_unit_container">
                <div style="float: left;">
                    <select wicket:id="payment.currencyUnit" style="width: 277px"/>
                </div>
                <div class="history_buttons_field_center" wicket:id="payment_currency_unit_history"></div>
            </div>
        </td>
    </tr>
    <tr>
        <th><wicket:message key="salaryType"/></th>
        <td>
            <div wicket:id="payment_type_container">
                <div style="float: left;">
                    <select wicket:id="payment.type" style="width: 277px"/>
                </div>
                <div class="history_buttons_field_center" wicket:id="payment_type_history"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <fieldset>
                <legend>
                    <wicket:message key="legend_allowances"/>
                </legend>
                <div wicket:id="add_allowances_dialog">
                    <form action="#" wicket:id="select_allowances_form">
                        <table>
                            <tr>
                                <td style="width: 100%">
                                    <select wicket:id="select_allowances" style="height: 75px;">
                                        <option></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="btnSmall default" wicket:id="add" type="submit" wicket:message="value:add" tabindex="0"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <table class="tbForm" wicket:id="allowancesContainer">
                    <tr wicket:id="allowances">
                        <td>
                            <input class="selected" type="checkbox" wicket:id="selected"/>
                        </td>
                        <td>
                            <span wicket:id="allowanceType"></span>
                            <span wicket:id="allowanceValue"></span>
                            <span wicket:id="allowanceCalculationUnit"></span>
                        </td>
                    </tr>
                </table>
                <div>
                    <input type="button" wicket:id="addAllowances" wicket:message="value:add" class="btnSmall"/>
                    <input type="button" wicket:id="removeAllowances" wicket:message="value:remove" class="btnSmall"/>
                </div>
            </fieldset>
        </td>
    </tr>
</wicket:panel>
</body>
</html>