<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
<wicket:panel>
    <div wicket:id="dialog" wicket:message="title:template_object_edit_title">
        <form action="#" wicket:id="form">
            <table>
                <tr>
                    <td>
                        <input type="text" wicket:id="entryIntoForceDate" style="width: 80px" tabindex="2"/>
                    </td>
                    <td>
                        <input type="button" wicket:id="currentDate" wicket:message="value:current_date" class="btnSmall" tabindex="1"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" wicket:id="submit" wicket:message="value:submit" class="btnBig" tabindex="3"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</wicket:panel>
</body>
</html>