<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
<wicket:panel>
    <div wicket:id="dialog">
        <form action="#" wicket:id="upload_form">
            <table>
                <tr>
                    <td style="width: 100%">
                        <input type="file" wicket:id="upload_field" multiple="true" style="width: 100%"/>
                    </td>
                    <td>
                        <input type="submit" wicket:id="upload" wicket:message="value:upload" class="btnBig"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</wicket:panel>
</body>
</html>