<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title>DeclarationLinkDialog</title>
</head>
<body>
<wicket:panel>
    <div wicket:id="dialog">
        <div wicket:id="container">
            <form action="#" wicket:id="form">
                <span wicket:id="info"></span>

                <div wicket:id="radio_group">
                    <table>
                        <tr wicket:id="declarations">
                            <td><input type="radio" wicket:id="select"/></td>
                            <td><span wicket:id="label"></span></td>
                        </tr>
                    </table>
                </div>
                <br/>
                <br/>
                <input type="submit" class="btnBig" wicket:message="value:link" wicket:id="submit"/>
            </form>
        </div>
    </div>
</wicket:panel>
</body>
</html>