/*Declaration List*/
.period_year_container{
    overflow: hidden;
    margin-top: 20px;
}

.year_period_block{
    float: left;
    margin-right: 1px
}

.year_block{
    border: 1px solid #CCC;
    margin-bottom: 1px;
    vertical-align: middle;
    background-color: #CBD2D8;
    float:left;
    padding: 1px 12px 1px 12px;
    font-weight: bold;
}

.period_block{
    margin: 0 0 1px 1px;
    padding: 2px 5px 2px 5px;
    float: left;
}

.period_selected{
    background-color: #CBD2D8;
}

.empty_declaration_list_container{
    background-color: #CBD2D8;
    border-top: 1px solid #667584;
    border-bottom: 1px solid #667584;
    text-align: center;
    vertical-align: middle;
    height: 78px;
}

.empty_declaration_list_span{
    margin-top: 30px;
}

.period_panel td{
    padding-right: 20px;
}
