<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div wicket:id="dialog" wicket:message="title:title">
        <form action="#" wicket:id="filter_form">
            <table  border="0" cellspacing="0" cellpadding="0" class="tbColor table_input" style="width: 850px; table-layout: fixed;">
                <thead>
                <tr>
                    <th style="width: 30px"></th>
                    <th style="width: 50px" class="center" wicket:id="header.c_sti"><wicket:message key="code"/></th>
                    <th style="width: 50px" class="center" wicket:id="header.c_reg"><wicket:message key="region_code"/></th>
                    <th style="width: 50px" class="center" wicket:id="header.c_raj"><wicket:message key="area_code"/></th>
                    <th style="width: 50px" class="center" wicket:id="header.t_sti"><wicket:message key="tax_inspection_type_code"/></th>
                    <th style="width: 170px" class="center" wicket:id="header.name_raj_uk"><wicket:message key="area_name_uk"/></th>
                    <th style="width: 330px" class="center" wicket:id="header.name_uk"><wicket:message key="name_uk"/></th>
                    <th style="width: 120px" class="center">
                        <input class="btnSmall"  wicket:id="filter_reset" type="button" wicket:message="value:reset"/>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th class="center"><input type="text" wicket:id="cSti"/></th>
                    <th class="center"><input type="text" wicket:id="cReg"/></th>
                    <th class="center"><input type="text" wicket:id="cRaj"/></th>
                    <th class="center"><input type="text" wicket:id="tSti"/></th>
                    <th class="center"><input type="text" wicket:id="nameRajUk"/></th>
                    <th class="center"><input type="text" wicket:id="nameUk"/></th>

                    <th class="center">
                        <input class="btnSmall default" wicket:id="filter_submit" type="submit" wicket:message="value:filter" tabindex="0"/>
                    </th>
                </tr>
                </thead>
            </table>
            <div style="max-height: 310px; overflow-y: auto; overflow-x: hidden;">
            <table border="0" cellspacing="0" cellpadding="0" class="tbColor table_input" style="width: 850px; table-layout: fixed;">
                <tbody wicket:id="radio_group">
                <tr wicket:id="dictionaries">
                    <td style="width: 30px"><input type="radio" wicket:id="radio_select"/></td>
                    <td style="width: 50px"><span wicket:id="code"></span></td>
                    <td style="width: 50px"><span wicket:id="region_code"></span></td>
                    <td style="width: 50px"><span wicket:id="area_code"></span></td>
                    <td style="width: 50px" ><span wicket:id="tax_inspection_type_code"></span></td>
                    <td style="width: 170px"><span wicket:id="area_name_uk"></span></td>
                    <td style="width: 450px"><span wicket:id="name_uk"></span></td>
                </tr>
                </tbody>
            </table>
            </div>
            <div wicket:id="paging" style="width: 850px"></div>
            <br/>
            <input class="btnBig" type="submit" wicket:id="select" wicket:message="value:select"/>
        </form>
    </div>
</wicket:panel>
</body>
</html>