<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <tr>
        <th><wicket:message key="zip_code"/> </th>
        <td><input type="text" maxlength="45" wicket:id="zipCode" size="40"/></td>
    </tr>
    <tr>
        <th><wicket:message key="country"/> </th>
        <td><input type="text" maxlength="45" wicket:id="country" size="40"/></td>
    </tr>
    <tr>
        <th><wicket:message key="region"/> </th>
        <td><input type="text" maxlength="45" wicket:id="region" size="40"/></td>
    </tr>
    <tr>
        <th><wicket:message key="area"/> </th>
        <td><input type="text" maxlength="45" wicket:id="area" size="40"/></td>
    </tr>
    <tr>
        <th><wicket:message key="city"/> </th>
        <td><input type="text" maxlength="45" wicket:id="city" size="40"/></td>
    </tr>
    <tr>
        <th><wicket:message key="street"/> </th>
        <td><input type="text" maxlength="45" wicket:id="street" size="40"/></td>
    </tr>
    <tr>
        <th><wicket:message key="building"/> </th>
        <td><input type="text" maxlength="45" wicket:id="building" size="40"/></td>
    </tr>
    <tr>
        <th><wicket:message key="apartment"/> </th>
        <td><input type="text" maxlength="45" wicket:id="apartment" size="40"/></td>
    </tr>
</wicket:panel>
</body>
</html>