<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
    <table width="100%">
        <tr>
            <td>
                <span wicket:id="autocomplete"></span>
            </td>
            <td>
                <input type="button" wicket:id="open" value="..." style="width: 30px; cursor: pointer"/>
            </td>
        </tr>
    </table>
</wicket:panel>

</html>