<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
    <body>
        <wicket:panel>
            <div id="history_buttons" wicket:id="historyButtonsContainer">
                <table class="center">
                    <tr>
                        <td><a href="#" wicket:id="start"></a></td>
                        <td><a href="#" wicket:id="back"></a></td>
                        <td><div style="text-align: center; vertical-align: middle" wicket:id="entryIntoForceDate"></div></td>
                        <td><a href="#" wicket:id="forward"></a></td>
                        <td><a href="#" wicket:id="end"></a></td>
                    </tr>
                </table>
            </div>
        </wicket:panel>
    </body>
</html>