<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="DB" class="org.complitex.flexbuh.common.logging.FlexbuhDBAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
            <param name="jndiLocation" value="jdbc/flexbuhResource"/>
        </connectionSource>
    </appender>

    <appender name="FLEXBUH_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <file>/tmp/flexbuh/log.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/flexbuh/log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %X{SESSION_ID} %X{LOGIN} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FLEXBUH_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/flexbuh/log_debug.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/flexbuh/log_debug-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %X{SESSION_ID} %X{LOGIN} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%n%d %-5level %X{SESSION_ID} %X{LOGIN} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FLEXBUH_INFO"/>
        <appender-ref ref="STDOUT_INFO"/>
    </root>

    <logger name="org.complitex.flexbuh">
        <appender-ref ref="DB"/>
    </logger>

    <logger name="org.complitex.flexbuh" level="DEBUG">
        <appender-ref ref="FLEXBUH_DEBUG"/>
    </logger>
</configuration>